{% extends 'core/base.html' %}

{% comment %}
    Informacje o drużynie (logo, nazwa, kolory, drużynowy, podatek)
    Statystyki drużyny (aktualny wynik)
    Tabela ze statystykami graczy należących do danej drużyny
    Zakupione przez drużynę ulepszenia wioski? (Zuza - zmodyfikować bazę danych)
{% endcomment %}

{% block headcontent %}

    <style>
    td {
      padding: 5px 5px;
    }
    </style>

{% endblock%}

{% block content %}

	<h3>Drużyna: {{ team.name|capfirst }}</h3>

    <h4>Drużynowy: {{ leader }}</h4>

	<p>Barwy: {{ team.colors }}</p>
	<p>Podatek: {{ team.tax }}</p>

    <p>Wynik drużyny: {{ team.score }} </p>

    <hr>

    <h3>Zastępy</h3>
    <table>
        <tr>
            <th><p>Zastęp</p></th>
            <th><p>Zdobyte punkty</p></th>
        </tr>
        {% for patrol in patrols %}
        <tr>
            <td><p>{{ patrol|capfirst }}</p></td>
            <td><p>{{ patrol.score }}</p></td>
        </tr>
        {% endfor%}
    </table>

    <hr>

    <h3>Harcerze</h3>
    <table>
        <tr>
            <th><p>Zastęp</p></th>
            <th><p>Pseudonim</p></th>
            <th><p>Stopień</p></th>
            <th><p>Zdobyte punkty</p></th>
        </tr>
        {% for scout in scouts %}
        <tr>
            <td><p>{{ scout.patrol|capfirst }}</p></td>
            <td><p>{{ scout|capfirst }}</p></td>
            <td><p>{{ scout.rank|capfirst }}</p></td>
            <td><p>{{ scout.score }}</p></td>
        </tr>
        {% endfor%}
    </table>

{% endblock %}