{% extends 'core/base.html' %}

{% comment %}
    Informacje o drużynie (logo, nazwa, kolory, drużynowy, podatek)
    Statystyki drużyny (aktualny wynik)
    Tabela ze statystykami graczy należących do danej drużyny
    Zakupione przez drużynę ulepszenia wioski? (Zuza - zmodyfikować bazę danych)
{% endcomment %}

{% block headcontent %}

    <style>
    td {
      padding: 5px 5px;
    }
    </style>

{% endblock%}

{% block content %}

	<h3>Drużyna: {{ team.name|capfirst }}</h3>

    <h4>Drużynowy: {{ leader }}</h4>

	<p>Barwy: {{ team.colors }}</p>
	<p>Podatek: {{ team.tax }}</p>

    <p>Wynik drużyny: {{ team_score }} </p>

    <a href="{% url 'view_team_details' team.id %}"><button class="rpgui-button" type="button">Szczegółowe wyniki</button></a>

    <hr>

    <h3>Zastępy</h3>
    <table>
        <tr>
            <th><p>Zastęp</p></th>
            <th><p>Zdobyte punkty</p></th>
        </tr>
        {% for patrol, patrol_score in patrols_scores %}
        <tr>
            <td><p>{{ patrol|capfirst }}</p></td>
            <td><p>{{ patrol_score }}</p></td>
        </tr>
        {% endfor%}
    </table>

    <hr>

    <h3>Harcerze</h3>
    <table>
        <tr>
            <th><p>Zastęp</p></th>
            <th><p>Harcerz</p></th>
            <th><p>Zdobyte punkty</p></th>
        </tr>
        {% for scout, scout_score in scouts_scores %}
        <tr>
            <td><p>{{ scout.patrol|capfirst }}</p></td>
            <td><p>{{ scout }}</p></td>
            <td><p>{{ scout_score }}</p></td>
        </tr>
        {% endfor%}
    </table>

{% endblock %}
