{% extends 'core/base.html' %}

{% block headcontent %}

{% endblock%}

{% block content %}

	<center>

	<p>Mamy teraz {% now "j F Y H:i" %}</p>
	<hr class="bold">

	{% for post in posts %}
		<h3>
			<a href="/posts/view/{{post.slug}}">{{ post.title|capfirst }}</a>
		</h3>
		<p>
			<span>Opublikowany: {{ post.pub_date_time }} </span> |
			<span>Przez: {{post.user}} </span>
		</p>
		<p>{{ post.content|safe }}</p>
		<p>
			{% if post.link1 %}<span><a href={{post.link1}}>Link 1</a></span>{% endif %}
			{% if post.link2 %}<span><a href={{post.link2}}>Link 2</a></span>{% endif %}
			{% if post.link3 %}<span><a href={{post.link3}}>Link 3</a></span>{% endif %}
		</p>
		<hr class="bold">

	{% empty %}
		<p>Nic sie jeszcze nie wydarzyło</p>
	{% endfor %}

	</center>

{% endblock %}
