{% extends 'core/base.html' %}

{% block headcontent %}

{% endblock %}

{% block content %}

    {% for week in weeks %}

        <h3>{{ week }}</h3>
        <h4>Punkty</h4>
        <div class="harcapo-text-select">
        {% for prize in prizes %}
            {% if prize.year_week == week and prize.accrual_for_a_week %}
                <p>/pay {{ prize.nickname }} {{ prize.accrual_for_a_week }}</p>
            {% endif %}
        {% endfor %}
        </div>
        <h4>Przedmioty</h4>

        <div class="harcapo-text-select">
        {% for account in bank %}
            {% if account.year_week == week and account.accrual_extra_prize %}
                <p>/give {{ account.user.nickname }} {{ account.accrual_extra_prize }}</p>
            {% endif %}
        {% endfor %}
        </div>

        <hr class="golden">

    {% empty %}

        <p>Jeszcze nie ma co raportować</p>

    {% endfor %}

    <h2>Raport z banku</h2>

    <table id="bank_report" class="harcapo-text-select">
    <tr>
        <td>Data</td>
        <td>Ksywa</td>
        <td>Zadanie</td>
        <td>Typ</td>
        <td>Nagroda</td>
        <td>Podatek</td>
        <td>Naliczono</td>
        <td>Nagroda specjalna</td>
    </tr>
    {% for account in bank %}
        <tr>
            <td>{{ account.date_accrued|date:"d/m" }}<br>
                {{ account.year_week }}</td>
            <td>{{ account.user.nickname }}</td>
            <td>{{ account.documented_task.task.name }}</td>
            <td>{{ account.accrual_type }}</td>
            <td>{{ account.documented_task.task.prize }}</td>
            <td>{{ account.user.scout.team.tax }}</td>
            <td>{{ account.accrual }}</td>
            <td>{{ account.accrual_extra_prize|default_if_none:"-" }}</td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}
