{% extends 'core/base.html' %}

{% block content %}
<div class="container">
    <div class="columns">
        <div class="column is-6 is-offset-3">
            <h1 class="title">Załóż konto</h1>
            <form method="post" action=".">
                {% csrf_token %}
                {{ user_form.as_p }}
                {{ scout_form.as_p }}
                <div class="field">
                    <div class="control">
                        <button type="submit" class="rpgui-button">Załóż konto</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
<!-- rpgui-dropdown-imp rpgui-dropdown-imp-header-->
