<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Harc game WEB</title>

        <link href="dist/rpgui.css" rel="stylesheet" type="text/css" >

        {% block headcontent %}
        {% endblock %}

    </head>
    <body>
        <div class="rpgui-content">
            {% include "core/navbar.html" %}

            <section class="section">
                {% block content %}
                {% endblock %}
            </section>
        </div>

        <script src="dist/rpgui.js"></script>
    </body>

</html>
