<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Harc game WEB</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" 
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

        {% block headcontent %}
        {% endblock %}

    </head>
    <body>
        {% include "core/navbar.html" %}

        <section class="section">
            {% block content %}
            {% endblock %}
        </section>
    </body>

</html>