<html>
{% load static %}
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">

  <title>HarcApo - Minecraft edition</title>

  <link href="{% static 'dist/rpgui.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'stylesheet.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&subset=latin-ext" rel="stylesheet" type="text/css">

  {% block headcontent %}
  {% endblock %}

</head>
<body>
<div class="rpgui-content" id="container" style="overflow-y:scroll;">
  {% include "core/navbar.html" %}

  {% block subnavbarcontent %}
  {% endblock %}

  <div class="inner rpgui-container framed" style="position: relative">
      {% block content %}
      {% endblock %}
  </div>

</div>


<script src="{% static 'dist/rpgui.js' %}"></script>
</body>

</html>
