<div class="inner rpgui-container framed" style="position: relative">
{% load static %}
  <a href="{% url 'frontpage' %}">
    <img src="{% static 'harcapo_minecraft_logo.png' %}"
         style="display: block;margin-left: auto;margin-right: auto;width: 40%;"/>
  </a>

  {% if request.user.is_authenticated %}
  <a href="{% url 'logout' %}"><button class="rpgui-button" type="button">Wyloguj się</button></a>
  <a href="{% url 'view_profile' %}"><button class="rpgui-button" type="button">Twój profil</button></a>
  {% else %}
  <a href="{% url 'signup' %}"><button class="rpgui-button" type="button">Załóż konto</button></a>
  <a href="{% url 'login' %}"><button class="rpgui-button" type="button">Zaloguj się</button></a>
  {% endif %}

  <a href="{% url 'word_of_the_day' %}"><button class="rpgui-button" type="button">Hasło dnia</button></a>
  <a href="{% url 'all_teams' %}"><button class="rpgui-button" type="button">Drużyny</button></a>
  <!--a href="{% url 'all_posts' %}"><button class="rpgui-button" type="button">Posty</button></a-->
  <a href="{% url 'tasks' %}"><button class="rpgui-button" type="button">Zadania</button></a>

  {% if request.user.is_superuser %}
  <a href="{% url 'bank_report' %}"><button class="rpgui-button" type="button">Raport</button></a>
  {% endif %}

  <!--  Temporal info till app improvements will be finished -->
  <br><br>Możliwy brak dostępu do strony codziennie ok. 23:00-23:30 do odwołania - strona w trakcie tworzenia ;)

</div>

<!--
  Messages framework installed here will always allow displaying messages below the navbar

  Messages framework is described here: https://docs.djangoproject.com/en/3.1/ref/contrib/messages/

  from django.contrib import messages
  messages.add_message(request, messages.INFO, 'Hello world.')

  Constant  Purpose
  DEBUG     Development-related messages that will be ignored (or removed) in a production deployment
  INFO      Informational messages for the user
  SUCCESS   An action was successful, e.g. “Your profile was updated successfully”
  WARNING   A failure did not occur but may be imminent
  ERROR     An action was not successful or some other failure occurred
-->
{% if messages %}
<div class="inner rpgui-container framed" style="position: relative">
  <h1>Komunikaty</h1>
      {% for message in messages %}
      <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>
          {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Błąd: {% endif %}
          {{ message }}
      </p>
      {% endfor %}
</div>
{% endif %}
