{% extends 'core/base.html' %}

{% block content %}

    {% comment %}

        Zawartość 
            Dzisiejsze hasło dnia (word_of_the_day)
            Jutrzejsze hasło dnia (word_of_tomorrow)
            Formularz do sprawdzania poprawności hasła dnia
            Poprzednie hasła dnia z odpowiedziami (words_of_the_past)

    {% endcomment %}

    <center>
        <h3>Dzisiejsze pytanie:</h3> 
        <p>{{ word_of_the_day.question|safe }}</p>
        <p><strong><a href="{{ word_of_the_day.hint }}">Podpowiedź</a></strong></p>
        
        <hr>
        {% if correct %}
            <h3>Brawo! {{guess}} to prawidłowa odpowiedź. Teraz ruszaj, by wykonać zadania!</h3>
        {% else %}
            {% if guess != '' %}
                <h3>No niestety <i><strong>{{guess}}</strong></i> to nie to czego bym się spodziewał...</h3>
            {% else %}
                <h3>Znasz już odpowiedź? Sprawdź...</h3>
            {% endif %}
            <form action="" method="get">
                {% csrf_token %}
                <label for="guess">Hasło to:</label>
                <input type="text" id="guess" name="guess"><br><br>
                <input type="submit" value="Sprawdź" class="btn btn-default navbar-btn"></td>
            </form>
        {% endif %}

        <hr>
        <h3>Jutrzejsze pytanie:</h3> 
        <p>{{ word_of_tomorrow.question|safe }}</p>
        <p><strong><a href="{{ word_of_tomorrow.hint }}">Podpowiedź</a></strong></p>

        <hr>
        <h3>Poprzednie pytania:</h3>
        {% for word in words_of_the_past %} 
            <hr>
            <h4>{{ word.date }}</h4>
            <p>{{ word.question|safe }}</p>
            <p><a href="{{ word.hint }}">Podpowiedź</a></p>
            <p>Prawidłowa odpowiedź: <strong>{{ word.answer }}</strong></p>
        {% empty %}
            <p>No, nic jeszcze nie straciłeś</p>
        {% endfor %}
    </center>

{% endblock %}