{% extends 'core/base.html' %}

{% block subnavbarcontent %}
{% if request.user.is_authenticated %}
{% include "tasks/subnavbar.html" %}
{% endif %}
{% endblock %}

{% block content %}

<h1 class="title">
  Sprawdź zadania
</h1>

<h2>Zadania do sprawdzenia:</h2>
<br>
{% for task_approval, form in unchecked_task_forms %}
{% include "tasks/check_form.html" %}
<hr>
{% empty %}
<div style="text-align: center;"><p>Nie masz zadań do sprawdzenia</p></div>
{% endfor %}
<br>

<hr class="golden">

<h2> Zadania sprawdzone: </h2>
<br>
{% for task_approval, form in checked_task_forms %}
{% include "tasks/check_form.html" %}
<hr>
{% empty %}
<div style="text-align: center;"><p>Nie masz jeszcze sprawdzonych zadań</p></div>
{% endfor %}

{% endblock %}
