<tr><td>Nazwa zadania</td><td>{{ task.task.name }}</td></tr>
<tr><td>Ile razy zostało wykonane</td><td>{{ task.how_many_times }}</td></tr>
<tr><td>Kto wykonał</td><td>{{ task.user.scout }}</td></tr>
<tr><td>Drużyna</td><td>{{ task.user.scout.team }}</td></tr>
<tr><td>Data ukończenia</td><td>{{ task.date_completed }}</td></tr>
{% if task.date_last_edited %}
<tr><td>Data ostatniej edycji</td><td>{{ task.date_last_edited }}</td></tr>
{% endif %}
<tr><td>Komentarz</td><td>{{ task.comment_from_user|default:"-" }}</td></tr>
<tr><td>Dodane pliki</td><td><a href="{{ task.file1.file.url }}">{{ task.file1.filename_orig|default:"" }}</a></td></tr>
<tr><td></td><td><a href="{{ task.file2.file.url }}">{{ task.file2.filename_orig|default:"" }}</a></td></tr>
<tr><td></td><td><a href="{{ task.file3.file.url }}">{{ task.file3.filename_orig|default:"" }}</a></td></tr>
<tr><td>Dodane linki</td><td><a href="{{ task.link1 }}">{{ task.link1|default:"" }}</a></td></tr>
<tr><td></td><td><a href="{{ task.link2 }}">{{ task.link2|default:"" }}</a></td></tr>
<tr><td></td><td><a href="{{ task.link3 }}">{{ task.link3|default:"" }}</a></td></tr>
{% if task.task.prize %}
<tr><td>Nagroda</td><td>{{ task.task.prize }} x{{ task.how_many_times }}</td></tr>
{% endif %}
{% if task.task.extra_prize %}
<tr><td>Nagroda specjalna</td><td>{{ task.task.extra_prize }}</td></tr>
{% endif %}
