{% extends 'core/base.html' %}

{% block subnavbarcontent %}
{% if request.user.is_authenticated %}
{% include "tasks/subnavbar.html" %}
{% endif %}
{% endblock %}

{% block content %}

  <h1 class="title">
    Twoje wykonane zadania
  </h1>

  {% for task in completed_tasks %}
  <table id="exam">
    {% include "tasks/documented_task_table.html" %}
    <tr><td>Sprawdza zadanie</td><td>{{ task.taskapproval.approver.nickname }}</td></tr>
    <tr><td>Czy zaakceptowano</td><td>{{ task.taskapproval.is_accepted|yesno:"Tak,Nie" }}</td></tr>
    <tr><td>Komentarz od sprawdzającego</td><td>{{ task.taskapproval.comment_from_approver }}</td></tr>
    <tr><td>
    {% if not task.taskapproval.is_accepted %}
      <a href="{% url 'edit_completed_task' task.id %}"><button class="rpgui-button">Edytuj</button></a>
      {% else %}
      <p>Nie można edytować - zadanie zaakceptowane</p>
      {% endif %}
    </td></tr>
  </table>
  <hr>
  <br>
  {% empty %}
  <b>Nie masz jeszczę żadnych wykonanych zadań</b>
  {% endfor %}

{% endblock %}
