{% extends 'core/base.html' %}

{% block headcontent %}

  <title>Upload</title>
  <meta http-equiv="content-type" content="text/html;charset=utf-8">
  <meta http-equiv="content-language" content="en">
  <meta http-equiv="content-language" content="en-us">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="/static/demo/js/jquery.js"></script>
  <script src="/static/demo/js/jquery.ui.widget.js"></script>
  <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
  <script src="/static/demo/js/jquery.iframe-transport.js"></script>
  <!-- The basic File Upload plugin -->
  <script src="/static/demo/js/jquery.fileupload.js"></script>
  <!-- Calculate md5 -->
  <script src="/static/demo/js/spark-md5.js"></script>

{% endblock %}

{% block content %}

  <h1 class="title">
    Formularz wykonania zadania
  </h1>

    <form method="post" action=".">
        {% csrf_token %}
        {{ form.as_p }}

        Wybierz pliki do wysłania na serwer (maksymalnie 3 pliki, każdy z nich może mieć maksymalnie 150MB):
        <div id="upload_form1">{% include "tasks/upload_form1.html" %}</div>
        <div id="upload_form2">{% include "tasks/upload_form2.html" %}</div>
        <div id="upload_form3">{% include "tasks/upload_form3.html" %}</div>
        <input type="hidden" id="uploaded_file_info1" name="uploaded_file_info1" value="">
        <input type="hidden" id="uploaded_file_info2" name="uploaded_file_info2" value="">
        <input type="hidden" id="uploaded_file_info3" name="uploaded_file_info3" value="">

        <div class="field">
            <div class="control">
                <button type="submit" class="rpgui-button">Wyślij potwierdzenie wykonania zadania</button>
            </div>
        </div>
    </form>
  <hr class="golden">
  <h1 class="title">
    Twoje wykonane zadania
  </h1>

  {% for task in completed_tasks %}
  <table id="exam">
    {% include "tasks/documented_task_table.html" %}
    <tr><td>Sprawdza zadanie</td><td>{{ task.taskapproval.approver.nickname }}</td></tr>
    <tr><td>Czy zaakceptowano</td><td>{{ task.taskapproval.is_accepted|yesno:"Tak,Nie" }}</td></tr>
    <tr><td>Komentarz od sprawdzającego</td><td>{{ task.taskapproval.comment_from_approver }}</td></tr>
  </table>
  <hr>
  <br>
  {% endfor %}


  <script type="text/javascript">
    var md5 = "",
        csrf = $("input[name='csrfmiddlewaretoken']")[0].value,
        form_data = [{"name": "csrfmiddlewaretoken", "value": csrf}];
    function calculate_md5(file, chunk_size) {
      var slice = File.prototype.slice || File.prototype.mozSlice || File.prototype.webkitSlice,
          chunks = chunks = Math.ceil(file.size / chunk_size),
          current_chunk = 0,
          spark = new SparkMD5.ArrayBuffer();
      function onload(e) {
        spark.append(e.target.result);  // append chunk
        current_chunk++;
        if (current_chunk < chunks) {
          read_next_chunk();
        } else {
          md5 = spark.end();
        }
      };
      function read_next_chunk() {
        var reader = new FileReader();
        reader.onload = onload;
        var start = current_chunk * chunk_size,
            end = Math.min(start + chunk_size, file.size);
        reader.readAsArrayBuffer(slice.call(file, start, end));
      };
      read_next_chunk();
    }
    $("#chunked_upload1").fileupload({
      url: "{% url 'api_upload' %}",
      dataType: "json",
      maxChunkSize: 100000, // Chunks of 100 kB
      formData: form_data,
      add: function(e, data) { // Called before starting upload
        // If this is the second file you're uploading we need to remove the
        // old upload_id and just keep the csrftoken (which is always first).
        form_data.splice(1);
        calculate_md5(data.files[0], 100000);  // Again, chunks of 100 kB
        data.submit();
      },
      chunkdone: function (e, data) { // Called after uploading each chunk
        if (form_data.length < 2) {
          form_data.push(
            {"name": "upload_id", "value": data.result.upload_id}
          );
        }
        var progress = parseInt(data.loaded / data.total * 100.0, 10);
        $("#progress1").text(Array(progress).join("=") + "> " + progress + "%");
      },
      done: function (e, data) { // Called when the file has completely uploaded
        $.ajax({
          type: "POST",
          url: "{% url 'api_upload_complete' %}",
          data: {
            csrfmiddlewaretoken: csrf,
            upload_id: data.result.upload_id,
            md5: md5
          },
          dataType: "json",
          success: function(data) {
            $("#uploaded_file_info1").val(data.upload_id);
            $('#upload_form1').html(function(i, origText){
              return '<input type="text" name="uploaded_file1" id="uploaded_file1" value="' + data.filename + '" readonly>';
            });
          }
        });
      },
    });
    $("#chunked_upload2").fileupload({
      url: "{% url 'api_upload' %}",
      dataType: "json",
      maxChunkSize: 100000, // Chunks of 100 kB
      formData: form_data,
      add: function(e, data) { // Called before starting upload
        // If this is the second file you're uploading we need to remove the
        // old upload_id and just keep the csrftoken (which is always first).
        form_data.splice(1);
        calculate_md5(data.files[0], 100000);  // Again, chunks of 100 kB
        data.submit();
      },
      chunkdone: function (e, data) { // Called after uploading each chunk
        if (form_data.length < 2) {
          form_data.push(
            {"name": "upload_id", "value": data.result.upload_id}
          );
        }
        var progress = parseInt(data.loaded / data.total * 100.0, 10);
        $("#progress2").text(Array(progress).join("=") + "> " + progress + "%");
      },
      done: function (e, data) { // Called when the file has completely uploaded
        $.ajax({
          type: "POST",
          url: "{% url 'api_upload_complete' %}",
          data: {
            csrfmiddlewaretoken: csrf,
            upload_id: data.result.upload_id,
            md5: md5
          },
          dataType: "json",
          success: function(data) {
            $("#uploaded_file_info2").val(data.upload_id);
            $('#upload_form2').html(function(i, origText){
              return '<input type="text" name="uploaded_file2" id="uploaded_file2" value="' + data.filename + '" readonly>';
            });
          }
        });
      },
    });
    $("#chunked_upload3").fileupload({
      url: "{% url 'api_upload' %}",
      dataType: "json",
      maxChunkSize: 100000, // Chunks of 100 kB
      formData: form_data,
      add: function(e, data) { // Called before starting upload
        // If this is the second file you're uploading we need to remove the
        // old upload_id and just keep the csrftoken (which is always first).
        form_data.splice(1);
        calculate_md5(data.files[0], 100000);  // Again, chunks of 100 kB
        data.submit();
      },
      chunkdone: function (e, data) { // Called after uploading each chunk
        if (form_data.length < 2) {
          form_data.push(
            {"name": "upload_id", "value": data.result.upload_id}
          );
        }
        var progress = parseInt(data.loaded / data.total * 100.0, 10);
        $("#progress3").text(Array(progress).join("=") + "> " + progress + "%");
      },
      done: function (e, data) { // Called when the file has completely uploaded
        $.ajax({
          type: "POST",
          url: "{% url 'api_upload_complete' %}",
          data: {
            csrfmiddlewaretoken: csrf,
            upload_id: data.result.upload_id,
            md5: md5
          },
          dataType: "json",
          success: function(data) {
            $("#uploaded_file_info3").val(data.upload_id);
            $('#upload_form3').html(function(i, origText){
              return '<input type="text" name="uploaded_file3" id="uploaded_file3" value="' + data.filename + '" readonly>';
            });
          }
        });
      },
    });
  </script>

{% endblock %}
