{% extends 'core/base.html' %}

{% block headcontent %}
<style>
form {
    display: inline-block;
}
td {
  padding: 0px 15px;
}
</style>
{% endblock %}

{% block subnavbarcontent %}
{% if request.user.is_authenticated %}
{% include "tasks/subnavbar.html" %}
{% endif %}
{% endblock %}

{% block content %}

    <div class="rpgui-icon potion-green" style="float:right; margin-top:5px; margin-right:35px;"></div>
    <div style="float:right; margin-top:5px; margin-right:5px;"><br>Ulubione</div>

{% for button in tasks_grouped %}
{% if button %}
    <a href="{% url 'tasks' button|slugify %}"><button class="rpgui-button" type="submit">{{button}}</button></a>
{% endif %}
{% endfor %}

    <h3>Zadania {{ active_tab }}</h3>

{% for category, tasks in tasks_grouped.items %}
    {% if category|slugify == active_tab %}
        <form id="tasks_list" action="" method="get">
        {% csrf_token %}
        {% for task in tasks %}
            <div class="rpgui-container framed-golden" style="position:relative; width:100%;">
                <h3>
                    <a href="{% url 'add_completed_task' task.id %}">{{task.name|capfirst}}</a>
                    {% if task in favourite_tasks %}
                    <a href="{% url 'unfav_task' task.id active_tab %}"><div class="rpgui-icon potion-green" style="float:right; margin-top:5px;"></div></a>
                    {% else %}
                    <a href="{% url 'fav_task' task.id active_tab %}"><div class="rpgui-icon potion-slot" style="float:right; margin-top:5px;"></div></a>
                    {% endif %}
                </h3>
                <table id="task">
                    <tr><td>Jak często można wykonywać</td><td><p>{{task.allowed_completition_frequency}}</p></td></tr>
                    <tr><td>Nagroda</td><td><p>{{task.prize}}</p></td></tr>
                    {% if task.extra_prize is not None %}
                    <tr><td>Nagroda specjalna</td><td><p>{{task.extra_prize}}</p></td></tr>
                    {% endif %}
                </table>
                <table id="task_description">
                    <tr><p></p></tr>
                    <tr><td><p>{{task.description|capfirst|safe}}</p></td></tr>
                </table>
            </div><br>
        {% empty %}
        Nie ma zadań w kategorii {{ active_tab }}
        {% endfor %}
        </form>
    {% endif %}
{% endfor %}

<!--
{% for category, tasks in tasks_grouped.items %}
<h1>{{category}}</h1>

<table class="harcapo-table">
  <thead class="harcapo-table-header">
    <tr>
        <th style="width: 18%">Nazwa</th>
        <th style="width: 32%">Opis</th>
        <th style="width: 15%">Jak często można wykonywać</th>
        <th style="width: 10%">Nagroda</th>
        <th style="width: 15%">Nagroda specjalna</th>
    </tr>
  </thead>
  <tbody>
    {% for task in tasks %}
        <tr>
            <td>{{task.name}}</td>
            <td>{{task.description}}</td>
            <td>{{task.allowed_completition_frequency}}</td>
            <td>{{task.prize}}</td>
            <td>{{task.extra_prize|default_if_none:"-"}}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>

<hr class="golden">
{% endfor %}
-->

{% endblock %}
