#container {
    background: #222;
    padding-top: 20px;
    padding-bottom: 20px;
}

.inner {
    min-width: 200px;
    max-width: 1200px;
    margin: 0 auto;
}

.harcapo-text-select * {
    font-family: 'Ubuntu Mono', monospace;
    -webkit-touch-callout: default;
    -webkit-user-select: auto;
    -khtml-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: text;
}

.harcapo-text-select p {
    color: black;
    text-shadow: none;
    font-size: 1.5em;
}
td {
    padding: 5px 5px;
}
